
.subHead{
    padding : 1em;
    margin : 1px;

}

.content{
    background-color: #f6f8fa;
}

div.item{

    display : block;
    background-color:rgb(187, 187, 247);
    margin : 1em;
    width : 6em;
    height : 2em;
    padding : 1em;
    align-content: center;
}

[class*="Converter"]{
   
    display : flex;
    background-color: #f6f8fa;
    max-width: 100em;
    flex-direction: row;
    flex-wrap: wrap;
}






