
body{
    background-color: #f6f8fa; 
}
.subHead{
    padding : 1em;
    margin : 1px;
}
.content{
    text-align : center;
}
.content a:link{

    text-decoration: none;
}
.subContent{
    margin-top: 1em;
}
#home{
    align-items: flex-start;
}
div.item{

    display : block;
    border-radius: 10px;
    background-color:rgb(187, 187, 247);
    margin : 1em;
    min-width : 6em;
    min-height : 2em;
    max-width : 6em;
    max-height : 2em;
    padding : 1em;
    align-content: center;
}

div.item:hover{
    
    
    font-size:98%;
    
}

.item a{
    color:black;
}

[class*="Converter"]{
   
    display : flex;
    background-color: #f6f8fa;
    max-width: 100em;
    flex-direction: row;
    flex-wrap: wrap;
}

#HomeImg{
    height : 2.5em;
    width : 2.5em;
}
.navigation .dropdown-content{

    display : none;
    position:absolute;
}

.dropdown:hover .dropdown-content{

    
    display : block;
    background-color: #f6f8fa;
}

@media screen and (max-width:450px) {

    .navigation{
    
        display : flex;
        flex-direction:column;
        justify-content: flex-end;
        flex-wrap: wrap;
        width : -50%;
    }
    .navigation .dropdown-content{

        min-width : 6em;
        min-height : 2em;
        max-width : 6em;
        max-height : 2em;
        padding : 1em;
        top : 5em;
        right : 6em;
    }
}
.navigation{
    display : flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    width : -50%;
}
.dropbtn{
    border : 0;
}

.nav{
    display : flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: -1%;
    margin-bottom: -2%;
    height: 2%;
    background-color: white; 
    box-shadow: 0px 4px #888888;

}
.dropdown .dropbtn{
    height: 100%;
}


.navigation a:link{

    text-decoration : none;
}
.dropbtn{

    width : 8em;
    height : 3em;
    padding : 2px;
}

.options{

    display : block;  
    color: black; 
    

}
.options:hover {
    background-color : #ddd9d9; 
    border : 0px solid;

    
}

textarea{

    height : 15em;
    width : 15em;
}
input[type="button"]{
    padding: 0.5em;
    margin : 0.5em;
}

input[type="button"]:hover{

    background-color: rgb(199, 241, 136);
    
}
#rgbToHexColorBox{
    height: 2em;
    width : 2em;
}

a{
    font-size: 1em;
}

.footer{
    text-align: end;
}


#ticker{
    
    background-color: rgb(199, 241, 136);
    display: inline;
    margin-top:-100%;
    margin-bottom: 10%;
    padding:0.5em;
    text-align:center;
    border-radius: 0.5em;

}
#ticker:hover{
    background-color : rgb(199, 241, 136);
}
.epochlive{
    display : inline;
}