
body{
    background-color: #f6f8fa; 
}
.subHead{
    padding : 1em;
    margin : 1px;
}
.content a:link{

    text-decoration: none;
}


div.item{

    display : block;
    border-radius: 10px;
    background-color:rgb(187, 187, 247);
    margin : 1em;
    width : 6em;
    height : 2em;
    padding : 1em;
    align-content: center;
}

.item a{
    color:black;
}

[class*="Converter"]{
   
    display : flex;
    background-color: #f6f8fa;
    max-width: 100em;
    flex-direction: row;
    flex-wrap: wrap;
}

.navigation .dropdown-content{

    display : none;
    position:absolute;
}

.dropdown:hover .dropdown-content{

    
    display : block;
    background-color: #f6f8fa;
}

.navigation{

    display : flex;
    justify-content: flex-end;
    background-color: white;
    flex-wrap: wrap;
    border-bottom: 1px solid;
    margin : 5px;

}
.navigation a:link{

    text-decoration : none;
}
.dropbtn{

    width : 8em;
    height : 3em;
    padding : 2px;
}

.options{

    display : block;  
    color: black; 
    padding : 2px;
    margin : 2px;

}

.options:hover {
    background-color : #ddd9d9; 
    padding : 2px;
    border : 1px solid;
    
}

textarea{

    height : 15em;
    width : 15em;
}
input[type="button"]{
    padding: 0.5em;
    margin : 0.5em;
}

input[type="button"]:hover{

    background-color: rgb(199, 241, 136);
    
}
#rgbToHexColorBox{
    height: 2em;
    width : 2em;
}



